header {
    text-align: center;
    padding: 15px;
    margin: auto;
    font-size: 45px;
    color: darkgreen;
    border-style: solid;
    border-color: #13293d;
}

.navBar {
    background-color: #13293d;
    margin: auto;
    padding: 10px;
    color: white;
    font-size: 25px;
    text-align: center;
}

.startButton {
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.50px;
    line-height: 16px;
    max-width: 255px;
    padding: 30px 53px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin: 20px;
    align-items: center;
}

.timerCount {
    font-size: 15px;
    text-align: right;
    margin-right: 50px;
}

.card {
    background: radial-gradient(circle, rgb(252, 136, 3) 0%, rgba(29, 17, 1, 0.604) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
    height: 400px;
    width: 55vw;
}

.questions {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}

.highScore {
    text-align: center;
    margin-top: 45px;
}